window.__CONFIG__ = {
  API_URL: "${API_URL}",
  CORS_PROXY_URL: "${CORS_PROXY_URL}",
  ZITADEL_AUTHORITY: "${ZITADEL_AUTHORITY}",
  ZITADEL_CLIENT_ID: "${ZITADEL_CLIENT_ID}",
  ZITADEL_ORG_DOMAIN: "${ZITADEL_ORG_DOMAIN}"
};
